@page {
    margin-top: 2in !important;
    margin-bottom: 2in !important;
    margin-left: 1.5in !important;
    margin-right: 1.5in !important;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

li {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

ol {
    margin: 0;
    margin-left: 14px;
}